#home-title{
    color: #FFE933;
    font-family: 'Josefin Sans', sans-serif;
}


#home-title-span{
    color: #129E25;
    font-family: 'Josefin Sans', sans-serif;
}

#title-container{
    display: flex;
    flex-direction: column;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border-left: 1px #129E25 solid;
    border-right: 1px #FFE933 solid;
}

#link{
    color: white;
}

#link:hover{
    text-emphasis: none;
    text-decoration: none;
}

#topP-badge{
    background-color: #129E25;
    padding: 10px 10px 10px 10px
}

#topE-badge{
    background-color: #FFE933;
    padding: 10px 10px 10px 10px
}

#top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body{
    background-image: linear-gradient(to bottom right,#129E25, #FFE933);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%vh;
}

#topE-name{
    font-family: 'Josefin Sans', sans-serif;
    color: #129E25;
    font-size: 15px;
}

#topP-name{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFE933;
    font-size: 15px;

}

#sale-button{
    background-color: #FFE933;
    color: #129E25;
}

#form-button{
    background-color: #129E25;
}

#link1{
    color: #129E25;
}

#link2{
    color: #FFE933;
}

#customerService-div{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #129E25;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to top left,#129E25, #FFE933);
}

#star-div{
    display: flex;
    flex-direction: row;
}

.fa-star{
    color: #FFE933;
}

#tips{
    font-family: 'Josefin Sans', sans-serif;
    color: #FFE933;
    font-size: 15px;
}

#tips-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}



@media(max-width: 600px){
    #sale-button{
        margin-bottom: 20px;
    }

    .navbar{
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #customerService-div{
        margin-right: auto;
        margin-left: auto;
        margin-top: 25px;
    }

    #top-container{
        margin-right: auto;
        margin-left: auto;
    }
}
