#sale-title{
    color: #129E25;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.card{
    background-color: #FFE933;
}

#totalDiv{
    display: inline-flex;
    flex-direction: row;
}

#adding-card{
    background-color: #129E25;
}

#add-title{
    color: #FFE933;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

#add-employee-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

#add-product-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

#addEmployee-div{
    border-right: 1px solid yellow;
}

#addProduct-dvi{
    border-left: 1px solid yellow;
}

#product-row{
    font-family: 'Josefin Sans', sans-serif
}

#dynamicTotal{
    font-family: 'Josefin Sans', sans-serif
}


@media(max-width: 600px){
    #product-row{
        margin-bottom: 30px;
    }

    #edit-button{
        margin-top: 15px;
    }

    #addEmployee-div{
        border-right: none;
        margin-bottom: 50px;
        border-bottom: 1px solid yellow;
    }

    #add-employee-button{
        margin-bottom: 20px;
    }

    #addProduct-div{
        border-left: none;
    }

}
